@using Data
@inject BlazePortContext dbContext

<div class="form-group">
    <label>Dates</label>
    <TelerikDatePicker @bind-Value="ViewModel.TripStart" Min="@DateTime.Now.AddDays(1)" />
    <ValidationMessage For="@(()=> ViewModel.TripStart)"></ValidationMessage>
</div>

<div class="form-group">
    <label>Passenger</label>
    <TelerikNumericTextBox @bind-Value="ViewModel.PassengerCount"/>
    <ValidationMessage For="@(()=> ViewModel.PassengerCount)"></ValidationMessage>
</div>

<div class="form-group">
    <label>Departing from</label>
    <TelerikDropDownList Data="ViewModel.DepartureLocations"
                         @bind-Value="ViewModel.SelectedDepartureLocationId"
                         ValueField="@nameof(LocationDetails.Id)"
                         TextField="@nameof(LocationDetails.Name)"
                         Width="100%"
                         PopupWidth="@popupWidth">
    </TelerikDropDownList>

</div>
<div class="form-group">
    <label>Departure Port</label>
    <TelerikDropDownList Data="ViewModel.DepartureLocation.Ports"
                         @bind-Value="ViewModel.SelectedDeparturePortId"
                         ValueField="@nameof(PortDetails.Id)"
                         TextField="@nameof(PortDetails.Name)"
                         Width="100%"
                         PopupWidth="@popupWidth">
    </TelerikDropDownList>

</div>

<div class="form-group">
    <label>Arriving to</label>
    <TelerikDropDownList Data="ViewModel.ArrivalLocations"
                         @bind-Value="ViewModel.SelectedArrivalLocationId"
                         ValueField="@nameof(LocationDetails.Id)"
                         TextField="@nameof(LocationDetails.Name)"
                         Width="100%"
                         PopupWidth="@popupWidth">
    </TelerikDropDownList>
</div>
<div class="form-group">
    <label>Departure Port</label>
    <TelerikDropDownList Data="ViewModel.ArrivalLocation.Ports"
                         @bind-Value="ViewModel.SelectedArrivalPortId"
                         ValueField="@nameof(PortDetails.Id)"
                         TextField="@nameof(PortDetails.Name)"
                         Width="100%"
                         PopupWidth="@popupWidth">
    </TelerikDropDownList>
</div>



@code {

    string popupWidth = "calc(50% - 48px)";

    [Parameter] public TripConfigurationModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ViewModel.DepartureLocations = await dbContext.Locations.ToArrayAsync();
    }

}