@namespace BlazePort.Pages.Home
@using Data
@inject BlazePortContext dbContext

<div class="form-group">
    <label class="w-100">Dates</label>
    <TelerikDatePicker @bind-Value="ViewModel.TripStart" Min="@DateTime.Now.AddDays(1)" Width="100%" />
    <ValidationMessage For="@(()=> ViewModel.TripStart)"></ValidationMessage>
</div>

<div class="form-group">
    <label class="w-100">Passenger</label>
    <TelerikNumericTextBox @bind-Value="ViewModel.PassengerCount" Min="1" Width="100%" />
    <ValidationMessage For="@(()=> ViewModel.PassengerCount)"></ValidationMessage>
</div>

<div class="form-group">
    <label class="w-100">Departing from</label>
    <TelerikDropDownList Data="ViewModel.DepartureLocations"
                         Width="100%"
                         PopupWidth=@commonWidth
                         @bind-Value="ViewModel.SelectedDepartureLocationId"
                         ValueField="@nameof(LocationDetails.Id)"
                         TextField="@nameof(LocationDetails.Name)">
    </TelerikDropDownList>

</div>
<div class="form-group">
    <label class="w-100">Departure Port</label>
    <TelerikDropDownList Data="ViewModel.DepartureLocation.Ports"
                         Width="100%"
                         PopupWidth=@commonWidth
                         @bind-Value="ViewModel.SelectedDeparturePortId"
                         ValueField="@nameof(PortDetails.Name)"
                         TextField="@nameof(PortDetails.Name)">
    </TelerikDropDownList>

</div>

<div class="form-group">
    <label class="w-100">Arriving to</label>
    <TelerikDropDownList Data="ViewModel.ArrivalLocations"
                         Width="100%"
                         PopupWidth=@commonWidth
                         @bind-Value="ViewModel.SelectedArrivalLocationId"
                         ValueField="@nameof(LocationDetails.Id)"
                         TextField="@nameof(LocationDetails.Name)">
    </TelerikDropDownList>
</div>
<div class="form-group">
    <label class="w-100">Departure Port</label>
    <TelerikDropDownList Data="ViewModel.ArrivalLocation.Ports"
                         Width="100%"
                         PopupWidth=@commonWidth
                         @bind-Value="ViewModel.SelectedArrivalPortId"
                         ValueField="@nameof(PortDetails.Name)"
                         TextField="@nameof(PortDetails.Name)">
    </TelerikDropDownList>
</div>

@code {

    string commonWidth = "430px";

    [Parameter] public TripConfigurationModel ViewModel { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ViewModel.DepartureLocations = await dbContext.AllLocationDetails().ToArrayAsync();
        Console.WriteLine("Loaded All Locations");
    }

}