@page "/admin/ports"
@layout BlogPostLayout

<TitleBlock Title="Admin Ports">
    <a href="/admin/index"><TelerikIcon Icon="@IconName.ArrowRoot"/> Admin Home</a>
</TitleBlock>

<div class="container-fluid">

    <FlyoutPanel @ref="EditorPanel">
        <TitleTemplate>
            <strong>@FormTitle</strong>
        </TitleTemplate>
        <ContentTemplate>
            <EditForm Model="portForm" OnValidSubmit="SaveLocation">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label>Name</label>
                    <InputText @bind-Value="portForm.Name" class="form-control" />
                    <ValidationMessage For="@(()=> portForm.Name)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <InputTextArea @bind-Value="portForm.Description" class="form-control" />
                    <ValidationMessage For="@(()=> portForm.Description)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label>Country</label>
                    <InputTextArea @bind-Value="portForm.Country" class="form-control" />
                    <ValidationMessage For="@(()=> portForm.Country)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label>Image URL</label>
                    <InputText @bind-Value="portForm.ImageUrl" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Parent Location</label>
                    <InputSelect @bind-Value="portForm.SelectedLocation" class="form-control">
                        <option value="">--Select a location</option>
                        @if (locations != null)
                        {
                            @foreach (var location in locations)
                            {
                                <option value="@location.Id">@location.Name</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="@(()=> portForm.SelectedLocation)"></ValidationMessage>
                </div>
                <TelerikButton Primary=true Icon=@IconName.Save ButtonType=ButtonType.Submit>Save</TelerikButton>
                <TelerikButton OnClick=HandleCancel Icon=@IconName.Cancel ButtonType=ButtonType.Button>Cancel</TelerikButton>

            </EditForm>
        </ContentTemplate>
    </FlyoutPanel>


    <div class="grid-outer">
        <TelerikGrid Data="portsGridView"
                     Sortable=true
                     Pageable=true
                     SelectionMode=GridSelectionMode.Single
                     @bind-SelectedItems=@selectedItems
                     FilterMode=GridFilterMode.FilterMenu>
            <GridToolBar>
                <GridCommandButton OnClick=HandleCreate Command="Create" Icon="add">Add Port</GridCommandButton>
                <GridCommandButton OnClick=HandleSelected Command="Edit" Icon="edit" Enabled="@(selectedItems.Any())">Edit</GridCommandButton>
            </GridToolBar>
            <GridColumns>
                <GridColumn Field="@nameof(PortDetailsGridView.Name)" />
                <GridColumn Field="@nameof(PortDetailsGridView.LatLong)" />
                <GridColumn Field="@nameof(PortDetailsGridView.Country)" />
                <GridColumn Field="@nameof(PortDetailsGridView.LocationName)" />
                <GridColumn Field="@nameof(PortDetailsGridView.ShortDescription)" />
            </GridColumns>
        </TelerikGrid>
    </div>
</div>

<Notification @ref="SuccessNotification" Title="New Item" Theme=@Theme.Success>
    <p>The item saved successfully.</p>
</Notification>

<Notification @ref="FailNotification" Title="Error" Theme=@Theme.Danger>
    <p>Failed to update database.</p>
</Notification>