@using BlazePort.Data
@page "/admin/ports"
@layout BlogPostLayout

<section class="admin-content">
	<TitleBlock Title="Admin Ports">
		<a href="/admin/index"><TelerikIcon Icon="arrow-root" /> Admin Home</a>
	</TitleBlock>

	<div class="grid-outer">
		<TelerikGrid Data="portsGridView"
					 Sortable="true"
					 Pageable="true"
					 PageSize="5"
					 SelectionMode="GridSelectionMode.Single"
					 @bind-SelectedItems="selectedItems"
					 FilterMode="GridFilterMode.FilterMenu">
			<GridToolBarTemplate>
				<GridCommandButton OnClick="HandleCreate" Command="Create" >Add Port</GridCommandButton>
				<GridCommandButton OnClick="HandleSelected" Command="Edit"  Enabled="selectedItems.Any()">Edit</GridCommandButton>
			</GridToolBarTemplate>
			<GridColumns>
				<GridColumn Field="@nameof(PortDetailsGridView.Name)" />
				<GridColumn Field="@nameof(PortDetailsGridView.LatLong)" />
				<GridColumn Field="@nameof(PortDetailsGridView.Country)" />
				<GridColumn Field="@nameof(PortDetailsGridView.LocationName)" />
				<GridColumn Field="@nameof(PortDetailsGridView.ShortDescription)" />
			</GridColumns>
		</TelerikGrid>
	</div>

</section>

<FlyoutPanel Visible="editorPanelVisible">
	<TitleTemplate>
		<strong>@FormTitle</strong>
	</TitleTemplate>
	<ContentTemplate>
		<TelerikForm Model="editItem" OnValidSubmit="SaveLocation">
			<FormItems>
				<FormItem Field="Name"></FormItem>
				<FormItem Field="Description"></FormItem>
				<FormItem Field="Country"></FormItem>
				<FormItem Field="ImageUrl"></FormItem>
				@if (FormMode == FormMode.New)
					{
				<FormItem Field="SelectedLocation">
					<Template>
						<label for="SelectedLocationId">Arriving to</label>
						<TelerikDropDownList Data="locations"
											 Width="100%"
											 @bind-Value="editItem.LocationId"
											 ValueField="@nameof(LocationDetails.Id)"
											 TextField="@nameof(LocationDetails.Name)">
							<ItemTemplate Context="location">
								<Planet Name="@location.Name" Size="50px" /><span>@location.Name</span>
							</ItemTemplate>
						</TelerikDropDownList>
					</Template>
				</FormItem>
				}
			</FormItems>
			<FormButtons>
				<TelerikButton ButtonType="ButtonType.Submit" Primary="true">Submit</TelerikButton>
				<TelerikButton ButtonType="ButtonType.Button" OnClick="HandleCancel">Cancel</TelerikButton>
			</FormButtons>
			<FormValidation>
				<DataAnnotationsValidator />
			</FormValidation>
		</TelerikForm>

	</ContentTemplate>
</FlyoutPanel>

<TelerikNotification @ref="NotificationReference" Class="crud-notification" VerticalPosition="NotificationVerticalPosition.Top" HorizontalPosition="NotificationHorizontalPosition.Right" />