@page "/destination/{Id}"
@using Data;
@inject BlazePortContext dbContext

<section class="content">
    @if (!IsLoading)
    {
        <article class="destination-details">
            <TitleBlock Title="@location.Name" BackgroundUrl="@location.ImageUrl" />
            <div>
                <h2>About @location.Name</h2>
                <p>@location.Description</p>
            </div>
            <aside>
                <h3>Ports</h3>
                <ul class="list-group">
                    @foreach (var port in location.Ports)
                    {
                        <li>
                            <a href="/port/@Id/@port.Id" class="list-group-item list-group-item-action">
                                @port.Name
                            </a>
                        </li>
                    }
                </ul>
            </aside>
        </article>
    }
</section>

<TelerikLoaderContainer Visible="IsLoading"></TelerikLoaderContainer>

@code {

    bool IsLoading => location == null;

    LocationDetails location;

    [Parameter] public string Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        location = await dbContext.AllLocationDetails().FirstAsync(l => l.Id == Guid.Parse(Id));
    }

}
