@layout CenteredContentLayout
@page "/port/{LocationId:int}/{PortId:int}"
@inject BlazePortContext dbContext
@using Data;

@if (port == null)
{
    <span>Loading...</span>
}
else
{
    <h1>@port.Name</h1>
    <img src="@port.ImageUrl" />
    <p>@port.Description</p>
    <ol>
        <li>@port.Country</li>
        <li>@port.Lat, @port.Long</li>
    </ol>
}
@code {

    [Parameter] public int LocationId { get; set; }
    [Parameter] public int PortId { get; set; }

    PortDetails port;

    protected override async Task OnInitializedAsync()
    {
        var locationDetails = await dbContext.Locations.FirstAsync(l => l.Id == LocationId);
        port = locationDetails.Ports.First(p => p.Id == PortId);
    }

}
