@page "/admin/Destinations"
@using BlazePort.Data;
@layout BlogPostLayout

<TitleBlock Title="Admin Locations">
    <a href="/admin/index"><TelerikIcon Icon="arrow-root" /> Admin Home</a>
</TitleBlock>

<div class="container-fluid">

    <FlyoutPanel Visible="editorPanelVisible">
        <TitleTemplate>
            <strong>New Destination</strong>
        </TitleTemplate>
        <ContentTemplate>
            <EditForm Model="editItem" OnValidSubmit="@SaveLocation">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <label class="w-100">Name</label>
                    <InputText @bind-Value=@editItem.Name Class="form-control" />
                    <ValidationMessage For="@(()=> editItem.Name)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="w-100">Description</label>
                    <InputTextArea @bind-Value=@editItem.Description Class="form-control" />
                    <ValidationMessage For="@(()=> editItem.Description)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="w-100">Image URL</label>
                    <InputText @bind-Value=@editItem.ImageUrl Class="form-control" />
                    <ValidationMessage For="@(()=> editItem.ImageUrl)"></ValidationMessage>
                </div>
                <div class="form-group">
                    <label class="w-100">Distance from Earth</label>
                    <TelerikNumericTextBox @bind-Value=@editItem.Distance Decimals=3 Format="##0.### Mil Miles" Class="form-control" />
                    <ValidationMessage For="@(()=> editItem.Distance)"></ValidationMessage>
                </div>
                <TelerikButton Primary=true Icon="save" ButtonType=ButtonType.Submit>Save</TelerikButton>
                <TelerikButton OnClick=HandleCancel Icon="cancel" ButtonType=ButtonType.Button>Cancel</TelerikButton>
            </EditForm>
        </ContentTemplate>
    </FlyoutPanel>

    <div class="grid-outer">
        <TelerikGrid Data="locations"
                     Sortable="true"
                     Pageable="true"
                     Groupable="true"
                     SelectionMode=GridSelectionMode.Single
                     @bind-SelectedItems=@selectedItems
                     FilterMode=GridFilterMode.FilterMenu>
            <GridToolBar>
                <GridCommandButton OnClick=HandleCreate Command="Create" Icon="add">Add Port</GridCommandButton>
                <GridCommandButton OnClick=HandleSelected Command="Edit" Icon="edit" Enabled="@(selectedItems.Any())">Edit</GridCommandButton>
            </GridToolBar>
            <GridColumns>
                <GridColumn Field=@nameof(LocationDetails.Name) />
                <GridColumn Field=@nameof(LocationDetails.Description) />
            </GridColumns>
        </TelerikGrid>
    </div>
</div>

<Notification @ref="SuccessNotification" Title="Saved Item" Theme=@Theme.Success>
    <p>The item saved successfully.</p>
</Notification>

<Notification @ref="FailNotification" Title="Error" Theme=@Theme.Danger>
    <p>Failed to update database.</p>
</Notification>